<div>
  <mat-card class="config-check-form">
    <br/>
    <h1>ตรวจสอบการยกเลิก</h1> 
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="เลขใบจอง"  [(ngModel)]="check.reserid"
        required name="reserid" #reserid>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="ชื่อผู้จอง" [(ngModel)]="check.memname"
        required name="memid" #memid />
      </mat-form-field>
        <div>
          <a    mat-raised-button  class="btn-check" (click)="onClickMe()"><b>ตรวจสอบ</b></a>
        </div>
    </div>
   
  </mat-card>
    
  </div>
  