body{
    background-color:hsl(0, 0%, 14%);
}
.tootbar{
    background-color:hsl(171, 100%, 41%)
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
.menu-list{
    float: left;
    margin-left: 40px;
}