<mat-toolbar class="tootbar">
    <mat-toolbar-row>
      <a class="menu-list">G16 Studio</a>
      <a class="menu-list">จองสตูดิโอ / ช่างภาพ</a>
      <a class="menu-list">ยกเลิกการจอง</a>
      <a class="menu-list">จ่ายเงิน</a>
      <a class="menu-list">รับ/ส่งรุปภาพ</a>
      <a class="menu-list">ยืมคืน</a>
      
      <span class="example-spacer"></span>
      <p class="example-icon">Login</p>
      <p class="example-icon">Resigter</p>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
   <!-- <app-card-list-resver></app-card-list-resver> -->
   <!-- <app-check-form></app-check-form> -->
   <!-- <app-detail-form></app-detail-form> -->
   <!-- <app-password-valid></app-password-valid> -->