<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ระบบยกเลิกการจอง</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <h3>รายการจอง</h3>
  <mat-card>
      <mat-list role="list">
          <mat-list-item role="listitem">รายการจองที่ 1ไำพๆไๆไำๆไำๆไำๆไำๆไำๆไำๆไำ
              <button mat-raised-button  color="primary">Click me!</button>
          </mat-list-item>
          <mat-list-item role="listitem">รายการจองที่ 1</mat-list-item>
          <mat-list-item role="listitem">รายการจองที่ 1</mat-list-item>
        </mat-list>
  </mat-card>
</mat-card>