<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <!--[{"billId":1,"price":500,"name":"uu","date":"2018-10-30T17:00:00.000+0000","phonenumber":"555","reservation":{"reservationId":2,"date":"2018-10-26T17:10:56.728+0000","price":500.0,"bill":null},"bookingEquioment":null,"member":null,"type":{"typeId":2,"type":"Reservation"}}]-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> ชื่อ-นามสกุล </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="phonenumber">
    <th mat-header-cell *matHeaderCellDef> เบอร์โทรศัพท์ </th>
    <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> วันที่ชำระ </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="reverId">
    <th mat-header-cell *matHeaderCellDef> เลขใบชำระ </th>
    <td mat-cell *matCellDef="let element"> {{element.billId}} </td>
  </ng-container>

  <!-- bookId Column -->
  <ng-container matColumnDef="bookId">
    <th mat-header-cell *matHeaderCellDef> ราคาการชำระ</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


