<div>
    <mat-card class="config-check-form">
      <h2 class="title-detail">รายละเอียดการจอง</h2>
        <p>เลขที่ใบจอง: &nbsp;{{reser.reserId}}</p> 
        <p>ชื่อการจอง: {{reser.detail}} </p>  
        <p>เวลา: {{reser.time}}</p>
        <p>ชื่อผู้จอง: {{reser.membername}}</p>
        <p>เวลาจอง: {{reser.time}}</p>
        <div class="example-container">
            <mat-form-field>
              <textarea matInput placeholder="เหตุผลการยกเลิก" [(ngModel)]="detail.comment"
              required name="comment" #comment></textarea>
            </mat-form-field>
        </div>
        <div class="layout-btn">
            <a (click)="SumbitCancel()" mat-raised-button  class="btn-comfirm"><b>ยินยัน</b></a>
            <button mat-raised-button  class="btn-cancel" routerLink="/"><b>ยกเลิก</b></button>
          </div>
    </mat-card>
    </div> 
