<div class="bg-reser">
<div class="layout-text-ss">
  <mat-card class="config-password-valid" >
  <br/>
  <div class="check-icon"><i class="far fa-check-circle fa-5x"></i></div>
  <p class="password-tltle-1"><b>ทำรายการจองสำเร็จ</b></p>
  <p class="password-tltle"><b>รายการจอง เลขที่: {{reser.reservationId}} </b></p>
  <p class="password-tltle"><b>ชื่อผู้จอง: {{reser.name}}</b></p>
  <p class="password-tltle"><b>วันที่:  {{reser.date | date : 'medium'}}</b></p>
  <p class="password-tltle"><b>ระยะเวลา: {{reser.time}}</b></p>
  <p class="password-tltle"><b>สตูดิโอ: {{reser.sname}}</b></p>
  <p class="password-tltle"><b>ช่างภาพ: {{reser.pname}}</b></p>
  <p class="password-tltle"><b>ราคา: &nbsp;{{reser.price}}  &nbsp; บาท</b></p>
  <br/>
  <button  routerLink="/mainreservation" mat-raised-button  class="btn-back"><b>Back</b></button>
  </mat-card>
  </div>
</div>