<div class="config-list">
<!-- <mat-card> -->
<mat-card>
<div class="title-layout">
    <div class="title-icon"><mat-icon>list</mat-icon></div>
    <div class="title-name">รายการจอง</div>
</div>
  <mat-list role="list">
    <div class="layout-lsit">
      <mat-list-item role="listitem">
            <p>รายการจองที่ 5</p>
            <button mat-raised-button  color="primary" class="btn-list">ยกเลิก</button>
      </mat-list-item>
    </div>
    <div class="layout-lsit">
        <mat-list-item role="listitem">
              <p>รายการจองที่ 4</p>
              <button mat-raised-button  color="primary" class="btn-list">ยกเลิก</button>
        </mat-list-item>
      </div>
      <div class="layout-lsit">
          <mat-list-item role="listitem">
                <p>รายการจองที่ 3</p>
                <button mat-raised-button  color="primary" class="btn-list">ยกเลิก</button>
          </mat-list-item>
        </div>
    </mat-list>
</mat-card>
</div>