.config-list{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    height:400px;
    /* background-color:rgb(46, 42, 44); */
}
.layout-lsit{
    margin-bottom: 1%;
    margin-left: 8%;
    margin-right: 10%;
}
.text-list{
    /* float: left; */
}
.btn-list{
    margin-left: auto;
    float: left;
    background-color:hsl(348, 100%, 61%)
}
.title-icon{
    float: left;
}
.title-name{
    float: left;
    margin-left: 10px;
    margin-right: 1%;
    font-size: 18px;
} 
.title-layout{
    margin-bottom: 20px;
}
.btn-login{
    background-color: hsl(204, 86%, 53%)	;
}