<div>
<mat-card class="config-list">
<div class="title-layout">
    <div class="title-icon"><mat-icon>list</mat-icon></div>
    <div class="title-name"><b>รายการจอง</b></div>
</div>
  <mat-list role="list">
    <div class="layout-lsit">
      <mat-list-item role="listitem">
            <p class="title-name">จองช่างภาพถ่ายงานเเต่ง เต็มวัน</p>
            <a   routerLink="/check" mat-raised-button class="btn-list">ยกเลิก</a>
      </mat-list-item>
    </div>
    <div class="layout-lsit">
      <mat-list-item role="listitem">
            <p class="title-name">จองช่างภาพถ่ายบวช สองวัน</p>
            <a   routerLink="/check" mat-raised-button class="btn-list">ยกเลิก</a>
      </mat-list-item>
    </div>
    <div class="layout-lsit">
      <mat-list-item role="listitem">
            <p class="title-name">จองสตูดิโอถ่ายภาพ เเละจองช่างภาพ</p>
            <a   routerLink="/check" mat-raised-button class="btn-list">ยกเลิก</a>
      </mat-list-item>
    </div>
    <div class="layout-lsit">
      <mat-list-item role="listitem">
            <p class="title-name">จองช่างภาพถ่ายงานรับปริญญา มทส</p>
            <a   routerLink="/check" mat-raised-button class="btn-list">ยกเลิก</a>
      </mat-list-item>
    </div>
    </mat-list>
</mat-card>
</div>